# Пример переменных окружения для локального запуска
MARIADB_ROOT_PASSWORD=your_root_password_here
MARIADB_PASSWORD=your_user_password_here
MARIADB_USER=your_username_here
MARIADB_DATABASE=catty_reminders
