[Unit]
Description=Catty Reminders App
After=network.target

[Service]
User=user
WorkingDirectory=/home/user/catty-reminders-app
EnvironmentFile=/home/user/catty-reminders-app/.env
ExecStart=/usr/bin/python3 -m uvicorn app.main:app --host 0.0.0.0 --port 8181
Restart=always

[Install]
WantedBy=multi-user.target
