[Unit]
Description=Catty Reminders App
After=network.target

[Service]
User=yaroslav
WorkingDirectory=/home/yaroslav/devops-lab/catty-reminders-app
Environment="PATH=/home/yaroslav/devops-lab/catty-reminders-app/venv/bin"
EnvironmentFile=/etc/catty-app-env
ExecStart=/home/yaroslav/devops-lab/catty-reminders-app/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8181
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
