[Unit]
Description=Catty Reminders Application
After=network.target

[Service]
User=rave
WorkingDirectory=/home/rave/catty-reminders-app
EnvironmentFile=-/home/rave/catty-reminders-app/.env
ExecStart=/home/rave/catty-reminders-app/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8181
Restart=always

[Install]
WantedBy=multi-user.target
