[Unit]
Description=My CSharp Web App
After=network.target

[Service]
WorkingDirectory=/home/alexander/app
ExecStart=/usr/bin/dotnet /home/alexander/app/ExampleWebService.dll
Restart=always
RestartSec=10
SyslogIdentifier=csharp-app
User=alexander
Environment=ASPNETCORE_URLS=http://*:8181
EnvironmentFile=/home/alexander/app/csharp.env

[Install]
WantedBy=multi-user.target
