[Unit]
Description=GitHub Webhook Listener
After=network.target

[Service]
User=kuzmin
WorkingDirectory=/home/qzm/Desktop/catty-reminders-app/webhook
Environment="GITHUB_TOKEN=devops"
ExecStart=/usr/bin/python3 /home/qzm/Desktop/catty-reminders-app/webhook/webhook_server.py
Restart=always

[Install]
WantedBy=multi-user.target
