[Unit]
Description=Webhook Handler
After=network.target

[Service]
User=rover
WorkingDirectory=/home/rover/webhook-handler
ExecStart=/home/rover/webhook-handler/venv/bin/python 4p.py
Restart=always

[Install]
WantedBy=multi-user.target
