[Unit]
Description=Demo App
After=network.target

[Service]
Type=simple
User=mappy
WorkingDirectory=/home/mappy/Desktop/catty-reminders-app
ExecStart=/home/mappy/Desktop/catty-reminders-app/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8181
Restart=always
EnvironmentFile=/home/mappy/Desktop/catty-reminders-app/.env

[Install]
WantedBy=multi-user.target
