[Unit]
Description=GitHub Webhook Handler
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/devops/catty-reminders-app
Environment="PATH=/home/ubuntu/devops/catty-reminders-app/venv/bin"
ExecStart=/home/ubuntu/devops/catty-reminders-app/venv/bin/python3 /home/ubuntu/devops/catty-reminders-app/webhook/webhook.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
