[Unit]
Description=Catty Reminders App
After=network.target

[Service]
Type=simple
User=anzorcode
WorkingDirectory=/home/anzorcode/app
Environment="PYTHONPATH=/home/anzorcode/app"
EnvironmentFile=-/home/anzorcode/app/.env
ExecStart=/home/anzorcode/app/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8181
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
