[Unit]
Description=Catty Reminders Application
After=network.target

[Service]
User=password_123
WorkingDirectory=/home/password_123/catty-reminders-app
EnvironmentFile=/etc/catty-app-env
ExecStart=/home/password_123/catty-reminders-app/venv/bin/python -m uvicorn app.main:app --host 0.0.0.0 --port 8181
Restart=always

[Install]
WantedBy=multi-user.target
