[Unit]
Description=Catty Reminders App (Main Server)
After=network.target

[Service]
User=root

WorkingDirectory=/home/killa123/Desktop/devopss/catty-reminders-app

EnvironmentFile=-/home/killa123/Desktop/devopss/catty-reminders-app/.env

# Запуск основного приложения на порту 8181
ExecStart=/home/killa123/Desktop/devopss/catty-reminders-app/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8181

# В случае падения процесс будет поднят
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
