[Unit]
Description=GitHub Webhook Deployment Server
After=network.target

[Service]
User=root
WorkingDirectory=/home/killa123/Desktop/devopss/catty-reminders-app/deploy

ExecStart=/home/killa123/Desktop/devopss/catty-reminders-app/venv/bin/python webhook_server.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
