[Unit]
Description=GitHub Webhook Handler
After=network.target

[Service]
Type=simple
User=pyshisha
Group=pyshisha
WorkingDirectory=/home/pyshisha/devops-lab
Environment="PATH=/home/pyshisha/devops-lab/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/pyshisha/devops-lab/venv/bin/python /home/pyshisha/devops-lab/webhook_handler.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
