[Unit]
Description=Github Webhook Listener
After=network.target

[Service]
User=q
WorkingDirectory=/home/q/devops
ExecStart=/home/q/devops/venv/bin/python3 /home/q/devops/main.py
Restart=always

[Install]
WantedBy=multi-user.target
