[Unit]
Description=Catty App Service
After=network.target

[Service]
User=vboxuser
Group=vboxuser
WorkingDirectory=/home/vboxuser/catty-reminders-app
Environment="PYTHONPATH=/home/vboxuser/catty-reminders-app"
EnvironmentFile=/home/vboxuser/catty-reminders-app/.env.deploy

ExecStart=/home/vboxuser/catty-reminders-app/.venv/bin/python3 -m uvicorn app.main:app --host 0.0.0.0 --port 8181
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
