name: Run tests

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run tests
        run: python -m pytest tests/test_unit.py --junitxml=report.xml app
      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: test_result
          path: report.xml
  build_image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Resolve IMAGE_NAME var
        run: |
          echo "IMAGE_NAME=ghcr.io/${GITHUB_REPOSITORY@L}:$GITHUB_SHA" >> "${GITHUB_ENV}"
      - name: Build Docker image
        run: |
          docker build --build-arg DEPLOY_REF=${{ github.sha }} -t $IMAGE_NAME .
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push Docker image
        run: |
          docker push $IMAGE_NAME